.cover {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
  .coverImage {
    width: 100%;
    object-fit: cover;
  }
  
  .textContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    color: white;
  }
  
  .textElement {
    transition: opacity 0.3s ease;
  }
  
  .title {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    color: #031D44;
  }

  .textRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 300px;
  }
  
  .leftText {
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #031D44;
  }
  
  .rightText {
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #031D44;
    text-align: right;
  }
  