.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #031D44;
    font-size: 10px;

  }
  
  .logo {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }

  .header nav {
    display: flex;
    align-items: center;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
  }
  
  .header nav a {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: #031D44;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .header .button {
    padding: 10px 20px;
    background-color: #031D44;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 50px;
  }
  